@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  // --primary-color: #1846de;
  --primary-color: #007af3;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.viewport {
  display: none;
}

.navbar {
  background-color: #eff1f7;
  padding: 0.5em 1em;
  .container {
    display: flex;
    place-content: space-between;

    .logo {
      width: 70px;
    }
  }

  .viewport {
    display: none;
  }

  .overlay {
    height: 0%;
    width: 66%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #3d3f43;
    overflow-y: hidden;
    transition: 0.5s;

    img {
      margin-top: 1em;
      width: 23px;
    }
  }

  .overlay-content {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 4em;

    li {
      list-style-type: none;
    }

    .btn-explore {
      display: block;
      float: right;
      padding: 0.5em;
      font-size: 1.3em;
      padding: 0.2em 0.5em;
      margin: 1em 1em 0.5em 0.5em;
      border-radius: 0.3em;
      border-style: none;
      color: #3d3f43;
      transition: 0.2s;
      &:hover {
        background-color: var(--primary-color);
        color: #eff1f7;
      }
    }
  }

  .close-btn {
    float: right;
    margin-right: 1em;
    margin-top: 1.3em;
    width: 7%;
  }

  .overlay a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

section {
  margin: 0em;

  .hero-primary {
    text-align: center;
    margin: 5em 2em 10em 2em;

    h4 {
      font-size: 0.7em;
      margin: 0;
      color: #b7b9c1;
      margin-bottom: -1em;
    }

    .logo {
      width: 230px;
    }

    h2 {
      font-size: 1em;
      margin: 0 auto;
      display: block;
      width: 350px;
      color: #5c6171;
    }

    .btn-explore {
      margin-right: 3.3em;
    }
  }

  .btn-wrapper {
    display: block;

    a {
      text-decoration: none;
    }
    .btn-explore,
    .btn-contact {
      font-family: "Poppins";
      display: block;
      font-size: 1em;
      border: solid var(--primary-color);
      background-color: transparent;
      border-radius: 2em;
      color: var(--primary-color);
      width: 120px;
      transition: 0.2s;

      &:hover {
        background-color: var(--primary-color);
        color: #eff1f7;
        cursor: pointer;
      }
    }

    .btn-explore {
      margin: 2vw auto;
    }

    .btn-contact {
      margin: 0vw auto;
    }
  }

  .hero-secondary {
    text-align: center;
    .illustration {
      width: 400px;

      @media only screen and (max-width: 550px) {
      }
    }
    margin-bottom: 4em;
  }
}

@media only screen and (max-width: 550px) {
  #tagline {
    width: unset;
  }
}
@media only screen and (min-width: 670px) {
  section {
    .btn-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 0 200px;

      .btn-explore {
        margin: 14px 5px 14px 0vw;
      }

      .btn-contact {
        margin: 14px 0px 14px 5px;
      }
    }
  }
}

section.features-section {
  background: #20272e;
  color: #eff1f7;
  padding: 4.5em 0;
  margin-bottom: 0.5em;
}

.img {
  display: none;
}

ul.features-list {
  margin-left: 1em;
  padding-left: 0.1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  list-style-type: none;

  span {
    button {
      margin-left: 0.5em;
      border: solid #20272e;
      border-radius: 2em;
      padding: 0.5em 1em;
      color: #3a3d48;
      font-size: 1em;
      transition: 0.2s;

      &:hover {
        background-color: var(--primary-color);
        color: #eff1f7;
        cursor: pointer;
      }
    }
  }
  li {
    font-size: 1.1em;
    margin-bottom: 1.8em;
    margin-left: 2em;
    position: relative;

    .project {
      margin-top: -1em;
    }

    &:before {
      content: "";
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-size: contain;
      margin-right: 0.5em;
      margin-top: 0.1em;
    }
  }
}

.wrapper {
  max-height: auto;
  margin: 80px 0.5em;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  border-radius: 15px;
  min-width: 230px;
  height: 300px;
  line-height: 20px;
  background-color: var(--primary-color);
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 50px;
  color: #eff1f7;

  img {
    width: 60px;
    margin-left: -20px;
    margin-top: -20px;
  }

  blockquote {
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  cite {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 115px;
  }
}

.foot {
  margin: 0;
  background-color: #20272e;
  color: #aebac6;

  .upper {
    // display: flex;
    // justify-content: space-evenly;
    // padding: 20px 20px;

    .img {
      margin-top: 10px;
      width: 125px;
      height: 30px;
      border-style: none;
      border-radius: 2em;
    }

    img {
      width: 60px;
    }

    h6 {
      font-size: 1em;
      font-weight: normal;
      margin: 10px 20px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
  hr {
    border: 2px solid;
    margin: 1em 150px;
  }

  .lower {
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .low-1 {
      display: flex;
    }

    .img-2 {
      margin-left: 20px;
      margin-right: 25px;
      margin-top: 10px;

      .fb {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }

      .wp {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }

      .ig {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }

      img {
        width: 25px;
        margin-right: 15px;
      }
    }

    .cr {
      display: flex;
      margin-top: -18px;
      margin-right: 20px;
      img {
        width: 0.9em;
      }

      h6 {
        font-size: 0.9em;
        font-weight: normal;
        margin-left: 4px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .foot .lower .low-1 {
    display: block;
  }

  .foot .lower {
    text-align: center;
  }
  .cr h6 {
    margin-bottom: 10px;
  }
}

.card {
  display: none;
  border-radius: 15px;
  width: 280px;
  height: 300px;
  line-height: 20px;
  background-color: #202021;
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 50px;
  color: #eff1f7;
  margin-top: -350px;
  margin-left: 180px;
  z-index: 0000;
  z-index: 1;
  position: absolute;
  z-index: 999;
  opacity: 100%;
  img {
    width: 60px;
    margin-left: 110px;
    margin-top: -30px;
  }
}

.hide {
  display: block;
}

@media only screen and (min-width: 900px) {
  .body .mobile {
    display: none;
  }

  .body .viewport {
    display: block;
    padding: 0 1em;
  }

  .navbar .container .logo {
    width: 100px;
  }

  .navbar .container .overlay-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;

    li {
      list-style-type: none;
      padding: 15px 0px 5px 0px;
      transition: 0.3s;
      &:hover {
        background-color: #c1c2c6;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: var(--primary-color);
        margin: 0px 35px;
      }
    }

    .btn-explore {
      margin: 15px 15px 15px 15px;
      padding: 2px 5px 2px 5px;
      &:hover {
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .hero {
    display: block;
    .hero-primary {
      margin: 150px 0 0 0;

      .btn-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin: 0 200px;

        .btn-explore {
          margin: 14px 5px 14px 0vw;
        }

        .btn-contact {
          margin: 14px 0px 14px 5px;
        }
      }
    }

    .hero-secondary {
      text-align: center;
      .illustration {
        margin: 100px 0 50px 0;
        width: 400px;
      }
    }

    .btn-explore {
      margin: 12px 0;
    }
    .btn-contact {
      margin: 12px 0;
    }
  }

  .foot {
    .footer {
      .upper {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 180px;
      }
    }
  }
}

@media only screen and (min-width: 1130px) {
  .hero {
    display: flex;
    .hero-secondary {
      .illustration {
        width: 400px;
        margin: 110px 60px 50px 60px;
      }
    }
  }

  #second {
    display: block;
    align-items: center;
    padding: 100px 0 0 30px;
    .container {
      display: flex;
      justify-content: center;
      ul {
        margin: 65px;
        margin-left: -12px;
      }

      li {
        font-size: 1.1em;
        margin-left: 2em;
        position: relative;

        .project {
          margin-top: -1em;
        }

        &:before {
          content: unset;
          background-image: none;
        }
      }
    }
    .img {
      display: block;
      width: 500px;
    }
  }
}

@media only screen and (min-width: 1160px) {
  .hero {
    display: flex;
    .hero-secondary {
      .illustration {
        width: 400px;
        margin: 110px 0px 50px 100px;
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .hero {
    display: flex;
    .hero-secondary {
      .illustration {
        width: 400px;
        margin: 110px 0px 50px 180px;
      }
    }
  }
}

.footer .upper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

@media only screen and (max-width: 700px) {
  .foot hr {
    margin: 1em 5%;
  }
  section .hero-secondary .illustration {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  section .hero-secondary .illustration {
    width: 200px;
    margin-top: -5em;
  }
}
